[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
[submodule "external/ips4o"]
	path = external/ips4o
	url = git@github.com:ips4o/ips4o.git
[submodule "external/libsais"]
	path = external/libsais
	url = git@github.com:IlyaGrebnov/libsais.git
[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = git@github.com:simongog/sdsl-lite.git
[submodule "external/rcomp"]
	path = external/rcomp
	url = git@github.com:kampersanda/rcomp.git
[submodule "external/OnlineRlbwt"]
	path = external/OnlineRlbwt
	url = git@github.com:itomomoti/OnlineRlbwt.git
[submodule "external/r-index-f"]
	path = external/r-index-f
	url = git@github.com:drnatebrown/r-index-f.git
[submodule "external/pfp-thresholds"]
	path = external/pfp-thresholds
	url = git@github.com:maxrossi91/pfp-thresholds.git
[submodule "external/gsa-is"]
	path = external/gsa-is
	url = git@github.com:felipelouza/gsa-is.git
[submodule "external/malloc_count"]
	path = external/malloc_count
	url = git@github.com:ByteHamster-etc/malloc_count.git
	branch = aligned_alloc
[submodule "external/block_RLBWT"]
	path = external/block_RLBWT
	url = git@github.com:saskeli/block_RLBWT.git
	branch = new_ops
[submodule "external/grlBWT"]
	path = external/grlBWT
	url = git@github.com:ddiazdom/grlBWT.git
[submodule "external/Big-BWT"]
	path = external/Big-BWT
	url = https://gitlab.com/manzai/Big-BWT.git
[submodule "external/r-index"]
	path = external/r-index
	url = git@github.com:alshai/r-index.git
[submodule "external/gtl"]
	path = external/gtl
	url = git@github.com:greg7mdp/gtl.git
[submodule "external/sparse-map"]
	path = external/sparse-map
	url = git@github.com:Tessil/sparse-map.git
[submodule "external/emhash"]
	path = external/emhash
	url = git@github.com:ktprime/emhash.git
[submodule "external/sux"]
	path = external/sux
	url = git@github.com:vigna/sux.git
[submodule "external/r-index-rlzsa"]
	path = external/r-index-rlzsa
	url = git@github.com:LukasNalbach/r-index-rlzsa.git
[submodule "external/sais-lite-lcp"]
	path = external/sais-lite-lcp
	url = https://github.com/kurpicz/sais-lite-lcp
