[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
[submodule "external/ips4o"]
	path = external/ips4o
	url = git@github.com:ips4o/ips4o.git
[submodule "external/libsais"]
	path = external/libsais
	url = git@github.com:IlyaGrebnov/libsais.git
[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = git@github.com:simongog/sdsl-lite.git
[submodule "external/rcomp"]
	path = external/rcomp
	url = git@github.com:kampersanda/rcomp.git
[submodule "external/r-index-prezza"]
	path = external/r-index-prezza
	url = git@github.com:nicolaprezza/r-index.git
[submodule "external/r-index-mun"]
	path = external/r-index-mun
	url = git@github.com:alshai/r-index.git
[submodule "external/OnlineRlbwt"]
	path = external/OnlineRlbwt
	url = git@github.com:itomomoti/OnlineRlbwt.git
[submodule "external/DYNAMIC"]
	path = external/DYNAMIC
	url = git@github.com:xxsds/DYNAMIC.git
[submodule "external/r-index-f"]
	path = external/r-index-f
	url = git@github.com:drnatebrown/r-index-f.git
[submodule "external/pfp-thresholds"]
	path = external/pfp-thresholds
	url = git@github.com:maxrossi91/pfp-thresholds.git
[submodule "external/gsa-is"]
	path = external/gsa-is
	url = git@github.com:felipelouza/gsa-is.git
[submodule "external/hopscotch-map"]
	path = external/hopscotch-map
	url = git@github.com:Tessil/hopscotch-map.git
[submodule "external/malloc_count"]
	path = external/malloc_count
	url = git@github.com:ByteHamster-etc/malloc_count.git
	branch = aligned_alloc
[submodule "external/block_RLBWT"]
	path = external/block_RLBWT
	url = git@github.com:saskeli/block_RLBWT.git
[submodule "external/grlBWT"]
	path = external/grlBWT
	url = git@github.com:ddiazdom/grlBWT.git
[submodule "external/Big-BWT"]
	path = external/Big-BWT
	url = https://gitlab.com/manzai/Big-BWT.git
